/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
/* primary/main color */
--clr-primary-1: hsl(194, 30%, 64%);
--clr-primary-2: hsl(0, 0%, 8%);
--clr-grey:  rgb(167, 166, 166);

/* primary/main fonts */
--ff-primary: 'Open Sans', sans-serif;

--line-height: 1.5;
--spacing: 0.1rem;
--border-radius: 25px;
--margine: 2rem;
--padding: 2rem;
}

/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: var(--ff-primary);
background-color: var(--clr-grey);
font-size: 0.875rem;
}

ul {
list-style-type: none;
}
a {
text-decoration: none;
color: var(--clr-primary-2);
}

h1,
p {
letter-spacing: var(--spacing);
line-height: 1.25;
margin-bottom: 0.75rem;
margin-top: 0.75rem;
color: var(--clr-primary-2);
line-height: 1.5;
}

h1 {
font-size: 1.5rem;
font-family: var(--ff-primary);
}
p {
font-size: 0.75rem;
font-family: var(--ff-primary);
}

/*
=============== 
section
===============
*/

.section {  
    display: flex;
    height: 100vh;
    margin: 0 auto;
} 

.section__primary {
    background-image: url(./img/beautiful-milky-way-night-sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}

.planet {
    background-repeat: no-repeat;
    background-size: cover;
}


.section__primary--sun {
    display: flex;
    background-image: url(./img/010-sun.png);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: 10s linear infinite sun;
}

@keyframes sun {
    100% {
        transform: rotate(359deg);
    }
}

/* mercury */
.section__primary--mercury {
    background-image: url(./img/008-mercury.png);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: 8s linear infinite mercury;
}

@keyframes mercury {
    0% { transform: rotate(0deg) translate(60px) rotate(0deg); }
    100% { transform: rotate(360deg) translate(60px) rotate(-360deg); }
}


.section__primary--venus {
    background-image: url(./img/002-venus.png);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: 4s linear infinite venus;
}

@keyframes venus {
    0% { transform: rotate(0deg) translate(120px) rotate(0deg); }
    100% { transform: rotate(360deg) translate(120px) rotate(-360deg); }
}



.section__primary--earth {
    background-image: url(./img/004-earth.png);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: 7s linear infinite earth;
}

@keyframes earth {
    0% { transform: rotate(0deg) translate(210px) rotate(0deg); }
    100% { transform: rotate(360deg) translate(210px) rotate(-360deg); }
}


.section__primary--mars {
    background-image: url(./img/003-mars.png);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: 10s linear infinite mars;
}

@keyframes mars {
    0% { transform: rotate(0deg) translate(270px) rotate(0deg); }
    100% { transform: rotate(360deg) translate(270px) rotate(-360deg); }
}


.section__primary--jupiter {
    background-image: url(./img/007-jupiter.png);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: 10s linear infinite jupiter;
}

@keyframes jupiter {
    0% { transform: rotate(0deg) translate(330px) rotate(0deg); }
    100% { transform: rotate(360deg) translate(330px) rotate(-360deg); }
}



.section__primary--saturn {
    background-image: url(./img/001-saturn.png);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: 12s linear infinite saturn;
}

@keyframes saturn {
    0% { transform: rotate(0deg) translate(390px) rotate(0deg); }
    100% { transform: rotate(360deg) translate(390px) rotate(-360deg); }
}


.section__primary--uran {
    background-image: url(./img/009-pluto.png);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: 12s linear infinite saturn;
}

@keyframes saturn {
    0% { transform: rotate(0deg) translate(450px) rotate(0deg); }
    100% { transform: rotate(360deg) translate(450px) rotate(-360deg); }
}


