/* ALL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 0.3rem;
}


/* header  */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: aliceblue;
}

nav {
    display: flex;
    justify-content:space-between;
    align-items: center ;
}

h1, h2, h3, p {
    padding: 1rem;
}

ul {
    display: flex;
    list-style:none;
}

li {
    align-items: center ;
    color:black; 
    padding: 1rem;
}

/* main */
main {
    display: flex;
    height: 80vw auto;
    margin-top: 4rem;
    background-color: aqua;
}

.main-section {
    margin-top: 6rem;
}

input {
    border: 1px solid black;
    display: flex;
    padding: .5rem;
    margin: .2rem;
    
}

.main-section__inputs {
    width: 80vw;
    padding: 1rem;
}


/* 
====== main aside ======
*/
.main-aside {
    width: 10vw;
}


/* footer */
footer {
    display: flex;
    justify-content:space-between;
    padding: 1rem;
    bottom: 0;
}

footer-navigation__menu > h3 {
    padding-right: 4rem;
}