input {
    color: aquamarine;
}

[data-attr]{
    border-color: brown;
}

#prvni {
    font-size: 3rem;
}

[data-disable]{
    border-color: aquamarine;
}

[data-disabled="true"]{
    color: brown;
}

[dec='1']{
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

[dec='2']{
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

[dec='3']{
    text-decoration-line: underline;
    text-decoration-style: solid;
}

[dec='4']{
    text-decoration-line: underline;
    text-decoration-style: double;
}

[dec='5']{
    text-decoration-line: underline;
    text-decoration-style: wavy;
    color: #01afbb90;
}

#lor{
    width: 300px;
    height: 20px;
    border: 3px rgb(255, 204, 204) solid;
    text-align: center;
    text-transform: lowercase;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    background-color: blueviolet;
}

#pozadi {
    width: 520px;
    height: 240px;
    border: 10px solid black;
    background-image: url('/web_230126/beautiful-milky-way-night-sky_53876-139825.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

p.prvek{
    background-color: blueviolet;
}

div p {
    color: red;
}

div > p {
    color: chartreuse;
}

div + div {
    background-color: chartreuse;
}

div ~ p {
    background-color: chartreuse;
}